.emailList {
	flex: 1;
	overflow: scroll;
}
.emailList::-webkit-scrollbar {
	display: none;
}
.emailList__settings {
	position: sticky;
	top: 0;
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid whitesmoke;
	background: white;
}
.emailList__sections {
	position: sticky;
	top: 0;
	display: flex;
	background: white;
	border-bottom: 1px solid whitesmoke;
	z-index: 999;
}
