.Mail {
	flex: 1;
	background: whitesmoke;
	.MailTools {
		display: flex;
		justify-content: space-between;
		background: white;
		.MailToolsLeft {
			display: flex;
		}
		.MailToolsRight {
			display: flex;
		}
	}
	.MailBody {
		display: flex;
		flex-direction: column;
		margin: 30px;
		background: white;
		padding: 20px;
		height: 100vh;
		box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.24);
		.MailBodyHeader {
			display: flex;
			align-items: center;
			border-bottom: 1px solid whitesmoke;
			padding: 20px;
			position: relative;
			h2 {
				font-weight: 400;
				margin-right: 20px;
			}
			.MailBodyHeaderImportant {
				color: orange;
			}
			.MailBodyHeaderTime {
				position: absolute;
				top: 24px;
				right: 0;
				font-size: 12px;
				color: gray;
			}
		}
		.MailBodyMessage > p {
			padding: 10px;
			margin-right: 20px;
			overflow-wrap: break-word; /* like word wrap in vs code */
		}
	}
}
