.Section {
	display: flex;
	align-items: center;
	border-bottom-width: 2px;
	padding: 15px;
	min-width: 200px;
	cursor: pointer;
	&:hover {
		background: whitesmoke;
		border-width: 3px !important;
	}
	h4 {
		font-size: 14px;
		margin-left: 15px;
	}
}
.Section--Selected {
	background: whitesmoke;
	border-width: 3px !important;
}
