.SidebarOption {
	display: flex;
	align-items: center;
	height: 40px;
	padding: 0 10px;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	cursor: pointer;
	color: #818181;
	&:hover > h3,
	&:hover > p,
	&:hover,
	.SidebarOptionActive > p,
	.SidebarOptionActive > h3,
	.SidebarOptionActive {
		background: #fcecec;
		color: #c04b37;
		font-weight: 800 !important;
	}
	.SidebarOptionActive > p {
		display: inline !important;
	}
	& > .MuiSvgIcon-root {
		padding: 5px;
	}
	p {
		display: none;
		font-weight: 300;
	}
	h3 {
		flex: 1;
		margin-left: 10px;
		font-size: 14px;
		font-weight: 400;
	}
	&:hover > p {
		display: inline;
	}
}
